{% load static %}

<!doctype html>
<html lang="en">
  <head>
      <title>{% block title %}Welcome to DoctorMirror{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/css/bootstrap.min.css' %}" >
      <script src="{% static 'Bootstrap/js/jquery.min.js' %}" ></script>
      <script src="{% static 'Bootstrap/js/proper.min.js' %}" ></script>
      <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'Javascript/theme.js' %}"></script>   
      <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a81368914c.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

<!------------------------------------------: Cheak if loged in :-------------------------------------->    

{% if user.is_authenticated %}

<!-----------------------------------------: Home :-------------------------->
<div style=" position : fixed; width:100%; ">
    <div class="w3-container w3-center dm-cont-mob" style="background-color:#0989df;">
    <h1 class="dm-pc-h1">DoctorMirror</h1></div>
  <div class="w3-right dm-profile dm-cont-mob">
  <div class="w3-dropdown-click dm-dropdown-menu-center">
    <button onclick="myFunction()" class="w3-button w3-black">Hello, {{user.get_username}} , Welcome</button>
    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom ">
    <div class="w3-card-4 w3-dark-grey" style="width:135%">

    <div class="w3-container w3-center"><br>
      <img src="{{ '/static/Images/avatar.svg'}}" alt="Avatar" style="width:50%">
      <h5>{{User.get_username}}</h5>

      <div class="w3-section">
        <button class="w3-button w3-green">Create Profile</button>
        <a href="logout"><button class="w3-button w3-red">logout</button></a>

      </div>
    </div>

  </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
function myFunction() {
  var x = document.getElementById("Demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<div class="w3-sidebar dm-sidebar w3-cyan w3-bar-block w3-collapse w3-card w3-animate-left" style="width:300px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large w3-purple w3-hover-pink" onclick="w3_close()">Close &times;</button>
  




    <div class="w3-container w3-center dm-cont-pc"><br>
      <img src="{{ '/static/Images/avatar.svg'}}" alt="Avatar" style="width:75%">
      <h5>{{User.get_username}}</h5>

      <div class="w3-section">
        <button class="w3-button w3-green">Create Profile</button>
        <button class="w3-button w3-green">View Profile</button>
        <button class="w3-button w3-blue">Edit Profile</button> <br><br>
        <a href="logout"><button class="w3-button w3-red">logout</button></a>

      </div>
    </div>

<a href="/" class="a w3-bar-item w3-button btn"><i class="i fas fa-home"></i> Home </a>

<button class="a `w3-button w3-block w3-left-align btn" onclick="myAccFunc()">
<i class="i fas fa-users-cog"></i>
        Use As a.... <i class="i fa fa-caret-down"></i>
  </button>
  <div id="demoAcc" class="w3-hide w3-white w3-card">
    <a href="patients" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-procedures"></i>Patients</a>
    <a href="doctor" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-user-md"></i>Doctor</a>
    <a href="#" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-user-nurse"></i>Nurse</a>
    <a href="#" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-ambulance"></i>Ambulance</a>
    <a href="#" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-hospital"></i>Hospital</a>

  </div>


  <a href="#" class="a w3-bar-item w3-button btn"><i class="i fas fa-id-card"></i> Contact Information </a>
  <a href="#" class="a w3-bar-item w3-button btn"><i class="i fas fa-atlas"></i> About </a>
</div>

<div class="w3-main" style="margin-left:300px">
<div class="w3-teal dm-home">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large dm-home" onclick="w3_open()">&#9776;</button>

  <div class="w3-container dm-container">
    <h1 class="dm-h1">DoctorMirror</h1>
  </div>
</div>


<div class="w3-container" >
<div class ="dm_desktop_margin">
<!---------------------------------: Content :---------------------------------------------------------->
  {% block content %}
<h4 style="color:blue;">Mark Your Problems</h4>
<br>

<form action="/" method='POST' enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_ul}}

<button type="submit" class="w3-button w3-blue" name="username" value ="{{user.get_username}}">Submit</button>

</form>


   {% endblock content %}
<!----------------------------------------: Content Finish :------------------------------------------>
</div>
   
</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

{% else %}
<meta http-equiv="refresh" content="0;url=login">

{% endif %}


</body>
</html>
