{% load static %}

<!doctype html>
<html lang="en">
  <head>
      <title>DoctorMirror || Ambulance</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" >
      <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/css/bootstrap.min.css' %}" >
      <script src="{% static 'Bootstrap/js/jquery.min.js' %}" ></script>
      <script src="{% static 'Bootstrap/js/proper.min.js' %}" ></script>
      <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'Javascript/theme.js' %}"></script>   
      <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a81368914c.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

<!------------------------------------------: Cheak if loged in :-------------------------------------->    

{% if user.is_authenticated %}

<!-----------------------------------------: Home :-------------------------->
<div style=" position : fixed; width:100%; ">
    <div class="w3-container w3-center dm-cont-mob" style="background-color:#0989df;">
    <h1 class="dm-pc-h1">DoctorMirror</h1></div>
  <div class="w3-right dm-profile dm-cont-mob">
  <div class="w3-dropdown-click dm-dropdown-menu-center">
    <button onclick="myFunction()" class="w3-button w3-black">Hello, {{user.get_username}} , Welcome</button>
    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom ">
    <div class="w3-card-4 w3-dark-grey" style="width:135%">

    <div class="w3-container w3-center"><br>
      <img src="{{ '/static/Images/avatar.svg'}}" alt="Avatar" style="width:50%">
      <h5>{{User.get_username}}</h5>

      <div class="w3-section">
        <button class="w3-button w3-green">Profile</button>
        <a href="logout"><button class="w3-button w3-red">logout</button></a>

      </div>
    </div>

  </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
function myFunction() {
  var x = document.getElementById("Demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

<div class="w3-sidebar dm-sidebar w3-cyan w3-bar-block w3-collapse w3-card w3-animate-left" style="width:300px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large w3-purple w3-hover-pink" onclick="w3_close()">Close &times;</button>
  




    <div class="w3-container w3-center dm-cont-pc"><br>
      <img src="{{ '/static/Images/avatar.svg'}}" alt="Avatar" style="width:75%">
      <h5>{{User.get_username}}</h5>

      <div class="w3-section">
        <button class="w3-button w3-green">Profile</button>
        <a href="logout"><button class="w3-button w3-red">logout</button></a>

      </div>
    </div>

<a href="/" class="a w3-bar-item w3-button btn"><i class="i fas fa-home"></i> Home </a>

<button class="a `w3-button w3-block w3-left-align btn" onclick="myAccFunc()">
<i class="i fas fa-users-cog"></i>
        Use As a.... <i class="i fa fa-caret-down"></i>
  </button>
  <div id="demoAcc" class="w3-hide w3-white w3-card">
    <a href="patients" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-procedures"></i>Patients</a>
    <a href="doctor" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-user-md"></i>Doctor</a>
    <a href="nurse" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-user-nurse"></i>Nurse</a>
    <a href="ambulance" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-ambulance"></i>Ambulance</a>
    <a href="hospital" class="dm-hover w3-bar-item w3-button"><i class="i fas fa-hospital"></i>Hospital</a>

  </div>


  <a href="#" class="a w3-bar-item w3-button btn"><i class="i fas fa-id-card"></i> Contact Information </a>
  <a href="#" class="a w3-bar-item w3-button btn"><i class="i fas fa-atlas"></i> About </a>
</div>

<div class="w3-main" style="margin-left:300px">
<div class="w3-teal dm-home">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large dm-home" onclick="w3_open()">&#9776;</button>

  <div class="w3-container dm-container">
    <h1 class="dm-h1">DoctorMirror</h1>
  </div>
</div>


<div class="w3-container" >
  <div class ="dm_desktop_margin">
<!---------------------------------: Content :---------------------------------------------------------->
<style>
label,h6{
    color:blue;
    font-size: 16px;
}
::marker,li{
    color:red;
}
#id_Kind_of_Treatment_Can_Do{
    display:none;
}
</style>
{% for i in obj_list %}
 {% if user.get_username == i.username %}

<div class="card" style="max-width: 30rem;">
  <img class="card-img-top" src="{{i.Upload_Ambulance_Pic.image.url }}" alt="img.jpg">
  <div class="card-body w3-center">
    <h6 class="card-title"><span style="color:green">Driver's Name :</span ><span style="color:blue"> {{ i.Driver_name }}</span ></h6>
    <h6 class="card-title"><span style="color:green">Ambulances Number :</span ><span style="color:blue"> {{ i.Ambulances_Number }}</span ></h6>
    <h6 class="card-title"><span style="color:green">Hospital Belongs to :</span ><span style="color:blue"> {{ i.Hospital_Belongs_to }}</span ></h6>
    <h5 class="card-title"><span style="color:#296356">Facilities</span ></h5>
<ul>
{% if i.Bed_to_Bed_Transfer_Facility == True%}
Bed to Bed Transfer Facility at Affordable Rent <br><br>
{% endif %}
{% if i.emergency_online_support_team == True%}
24X7 emergency online tech-support team  <br><br>
{% endif %}
{% if i.Special_care_teams_and_physicians == True%}
Special care teams and physicians with the patient as well as special care of patients with ICU  <br><br>
{% endif %}
{% if i.Transfer_the_patient_under_doctors == True%}
Transfer the patient under the supervision of specialized doctors and health care specialists  <br><br>
{% endif %}
{% if i.Both_side_road_ambulances == True%}
Both side road ambulances to pick up and drop off the patient  <br><br>
{% endif %}
<br><a href="#" class="btn btn-primary">Edit</a>
  </div>
</div>
<br><br>





{% else %}

<div class="form-group">
<h6>Full Name:</h6>
<input class="form-control" type="text" value="{{user.get_full_name}}" readonly><br>
<form action="ambulance" method='POST' enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p}}
<button type="submit" class="w3-button w3-blue" name="username" value ="{{user.get_username}}">Submit</button>
</form>
 {% endif %}
{% endfor %} <br>
<a href="add" class="w3-button w3-blue">Add Another</a><br><br>
<!----------------------------------------: Content Finish :------------------------------------------>
</div>
   
</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

{% else %}
<meta http-equiv="refresh" content="0;url=login">

{% endif %}


</body>
</html>
