{% extends "home.html" %}

{% block title %} Nurse {% endblock %}

{% block content %}

<!---------------------------------: Content :---------------------------------------------------------->
<style>
label,h6{
    color:blue;
    font-size: 16px;
}
::marker,li{
    color:red;
}
#id_Kind_of_Treatment_Can_Do{
    display:none;
}
</style>
<div class="form-group">
<h6>Full Name:</h6>
<input class="form-control" type="text" value="{{user.get_full_name}}" readonly><br>
<form action="nurse" method='POST' enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p}}
<button type="submit" class="w3-button w3-blue" name="username" value ="{{user.get_username}}">Submit</button>
</form>
<!----------------------------------------: Content Finish :------------------------------------------>

{% endblock content %}
