{% extends "home.html" %}

{% block title %} Patients {% endblock %}

{% block content %}

<!---------------------------------: Content :---------------------------------------------------------->
<h4 style="color:blue;"> Upload any report here</h4>
<br>

<form action="patients" method='POST' enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_ul }}

<button type="submit" class="w3-button w3-blue" name="username" value ="{{user.get_username}}">Submit</button>

</form>
<!----------------------------------------: Content Finish :------------------------------------------>
{% endblock content %}
