<!doctype html>
<html lang="en">
  <head>
      <title>Welcome to DoctorMirror</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="./style.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="./Bootstrap/css/bootstrap.min.css" >
      <script type="text/javascript" src="./Bootstrap/js/bootstrap.min.js"></script>
      <script src="./Bootstrap/jquery.min.js" ></script>
  </head>
  <body class="text-center">

<!-------------------------------------------SIGN IN------------------------------------------------------------>

<form class="form-signin" id="signup" action="login" method="post">

  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address or Phone Number</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ><br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="signin()">Sign In</button>
  <button class="btn btn-lg btn-primary btn-block" onclick="buttonClick()">Not Having a Account</button>

</form>

<!--------------------------------------------SIGN UP----------------------------------------------------------------->

<script>
  function buttonClick()
  {
    document.getElementById("signup").innerHTML=`
    
<form class="form-signin" action="signup" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
    <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" name="firstname" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" name="lastname" required>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <input type="email" class="form-control" placeholder="Email Id" name="email_id" required>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password1" required>
  </div>
  <div class="col">
  <label for="inputPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" name="password2" required>
  </div></div>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="otp()">Sign Up</button><br>
  <button class="btn btn-lg btn-primary btn-block" onclick="backToSignin()">Already Have a Account</button>
</form>
  `}
</script>

<script>
   function backToSignin()
  {
    document.getElementById("signup").innerHTML=`
<form class="form-signin" id="signup">
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
<label for="inputEmail" class="sr-only">Email address or Phone Number</label>
<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ><br>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
<div class="checkbox mb-3">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
<button class="btn btn-lg btn-primary btn-block" onclick="buttonClick()">Not Having a Account</button>
</form>
`}   

</script>
